p{
    background-color: aqua;
}
a{
    background-color: rgb(155, 198, 121);
}
div{
    background-color: blueviolet;
}
span{
    background-color: rgb(10, 108, 227);
}
h1{
    background-color: cyan;
}
ul{
    background-color: yellow;
}
ol{
    background-color: rgb(0, 26, 255);
}
li{
    background-color: darkmagenta;
}
