/* onChange*/
/* h1{
    color: rgb(247, 12, 122);
    display: flex;
    justify-content: center;
}
.container {
    width: 500px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
button{
    width: 60px auto;
    height: 25px;
    background-color: rgb(13, 227, 10);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#dec{
    background-color: red;
}
#buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
} */

/* onChange */

