/* onChange*/
/* h1{
    color: rgb(247, 12, 122);
    display: flex;
    justify-content: center;
}
.container {
    width: 500px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
button{
    width: 60px auto;
    height: 25px;
    background-color: rgb(13, 227, 10);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#dec{
    background-color: red;
}
#buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
} */

/* onChange */



/* #boxx{
    height: 50vh;
    width: 50vw;
    background-color: aquamarine;
    text-align: center;
    align-content: center;
    border: 2px solid;
    border-radius: 24px;
    box-shadow: -1px 0px 20px 9px rgb(0 0 0);
}
button{
    height: 25px;
    width: 60px;
    border: none;
    border-radius: 7px;
}
#inc{
    background-color: rgb(42, 248, 42);
}
#dec{
    background-color: red;
}
#reset{
    background-color: rgb(86, 86, 255);
} */

/* Password Length checker */
/* .containeer {
   
    height: 50vh;
    width: 50vw;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;


    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
body{
        padding-top: 110px;
}
#inputt{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 178, 178);
    border-radius: 4px;
    border: 2px solid;
    height: 36px;
    width: auto;
    
    
}
#buttonn{
    height: 28px;
    width: 80px;
    background-color: rgb(89, 103, 255);
    border-radius: 10px;
    border: none;
    color: white;
} */






/* Username Checker */
/* #boxxx {
    height: 50vh;
    width: 50vw;
    background-color: rgb(209, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;


    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
    padding-top: 80px;
}

#inp {
    height: 26px;
    width: 162px;
    border: 2px solid rgb(175, 90, 255);
    border-radius: 13px;
    text-align: center;
}

#short {
    color: rgb(255 191 0);
    font-family: cursive;

}

#valid {
    color: rgb(27, 255, 27);
    font-family: cursive;
}

#long {
    color: rgb(255, 0, 0);
    font-family: cursive;
} */

